.row-poster {
  margin-top: 32px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row-poster-container {
  display: flex;
  height: 400px;
  margin-left: 44px;
}

.row-poster::-webkit-scrollbar {
  display: none;
}

.freccia {
  width: 50px;
  height: 130px;
  text-align: center;
  z-index: 99;
  background: transparent;
  border: none;
  margin-top: 30px;
}

.freccia:hover {
  background: rgba(20, 20, 20, 0.5);
  transition: 250ms all;
}

.freccia.left {
  position: absolute;
  left: 0;
}

.freccia.right {
  position: absolute;
  right: 0;
}

.freccia.poster {
  padding: 160px 20px;
  margin: 0;
  height: 399px;
}
