/* NUMBER IMG */
/* rowNumber */
.row-number {
  margin-top: 32px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.container-row {
  width: 100%;
  display: flex;
  margin-left: 44px;
}
.row-number::-webkit-scrollbar {
  display: none;
}

/* ARROW */

.freccia {
  width: 50px;
  height: 130px;
  text-align: center;
  z-index: 99;
  background: transparent;
  border: none;
}

.freccia:hover {
  background: rgba(20, 20, 20, 0.5);
  transition: 250ms all;
}

.freccia.left {
  position: absolute;
  left: 0;
}

.freccia.right {
  position: absolute;
  right: 0;
}
.freccia.number {
  padding: 80px 20px;
  height: 220px;
  background-color: transparent;
}
