* {
    font-family: "Netflix Sans Thin";
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Container*/
.container{
    background-color: #141414;
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    max-width: 600px;
    height: 800px;
}
.space{
    margin: 8px 16px;
}
/*Top*/
.top{
    display: flex;
    justify-content: space-between;
}
.show{
    border-radius: 4px;
    background-color: #242424;
}
.show option{
    padding: 60px;
}
/*Mid*/
.mid{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.episode{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #808080;
    border-top: solid 1px #808080;
    padding: 8px 0;
}
.episode img{
    height: 80px;
    border-radius: 4px;
    padding-right: 14px;
}
.episode h3{
    padding-right: 14px;
}
.description{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
}