:root {
    --white: #fff;
    --light-gray-1: #dddd;
    --light-gray-2: #e5e5e5;
    --gray-1: #8a8a8a;
    --gray-2: #808080;
    --black: #141414;
    --red: #b9090b;
}
* {
    font-family: "Netflix Sans Thin";
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Container*/
.container{
  /*display: none;*/
  font-family: "Netflix Sans Regular";
  color: var(--white);
  font-size: 10px;
  border: 10px solid var(--black);
  border-radius: 5px;
  width: 700px;
  height: 1150px;
  position: absolute;
  top:50%;
  left: 30%;
  margin-top: -100px;
  margin-left: -100px;
  background-color: var(--black);
  z-index: 999999;
}
.space{
    margin: 8px 16px;
}
/*Top*/
.top{
    display: flex;
    justify-content: space-between;
}
.show{
    border-radius: 4px;
    background-color: #242424;
}
.show option{
    padding: 60px;
}
/*Mid*/
.mid{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.episode{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #808080;
    border-top: solid 1px #808080;
    padding: 8px 0;
}
.episode img{
    height: 80px;
    border-radius: 4px;
    padding-right: 14px;
}
.episode h3{
    padding-right: 14px;
}
.description{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
}